<section class="mat-typography">

  <mat-nav-list>
    <mat-list-item
      *ngIf="currentUser.role === 'ADMINISTRATOR'"
      routerLinkActive="nav-list-item-active">
      <mat-icon mat-list-icon>dashboard</mat-icon>
      <a routerLink="/dashboard/admin">
        {{ 'DashboardNavText' | translate:lang }}
      </a>
    </mat-list-item>

    <mat-list-item routerLinkActive="nav-list-item-active">
      <mat-icon mat-list-icon>view_list</mat-icon>
      <a routerLink="/dashboard/overview">
        {{ 'SubscriptionsNavText' | translate:lang }}
      </a>
    </mat-list-item>

    <mat-list-item routerLinkActive="nav-list-item-active">
      <mat-icon mat-list-icon>event</mat-icon>
      <a routerLink="/dashboard/events">
        {{ 'EventsNavText' | translate:lang }}
      </a>
    </mat-list-item>

    <!--<h3 mat-subheader>ACCOUNT</h3>-->
    <mat-list-item routerLinkActive="nav-list-item-active">
      <mat-icon mat-list-icon>group</mat-icon>
      <a routerLink="/dashboard/account">
        {{ 'AccountNavText' | translate:lang }}
      </a>
    </mat-list-item>

    <mat-divider></mat-divider>

    <mat-list-item>
      <mat-icon mat-list-icon>exit_to_app</mat-icon>
      <a (click)="onLogout()">
        {{ 'LogoutNavText' | translate:lang }}
      </a>
    </mat-list-item>
  </mat-nav-list>

</section>
