<h2>{{ 'StudentListHeadingText' | translate:lang }}</h2>

<button
  *ngIf="admin"
  mat-raised-button
  color="primary"
  (click)="onOpenStudentDialog(false)">
  {{ 'AddNewStudentButtonText' | translate:lang }}
</button>

<br />
<br />

<div class="mat-elevation-z8">
  <mat-table #table [dataSource]="studentsDataSource">

    <ng-container cdkColumnDef="firstName">
      <mat-header-cell *cdkHeaderCellDef> {{ 'StudentFirstNameText' | translate:lang }} </mat-header-cell>
      <mat-cell *cdkCellDef="let row"> {{row.firstName}} </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="lastName">
      <mat-header-cell *cdkHeaderCellDef> {{ 'StudentLastNameText' | translate:lang }} </mat-header-cell>
      <mat-cell *cdkCellDef="let row"> {{row.lastName}} </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="year">
      <mat-header-cell *cdkHeaderCellDef> {{ 'StudentYearText' | translate:lang }} </mat-header-cell>
      <mat-cell *cdkCellDef="let row"> {{row.year}} </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="studyProgramme">
      <mat-header-cell *cdkHeaderCellDef> {{ 'StudentStudyProgrammeText' | translate:lang }} </mat-header-cell>
      <mat-cell *cdkCellDef="let row"> {{row.studyProgramme}} </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="actions">
      <mat-header-cell *cdkHeaderCellDef></mat-header-cell>
      <mat-cell *cdkCellDef="let row">
        <button
          *ngIf="admin"
          mat-raised-button
          color="accent"
          (click)="onOpenStudentDialog(true, row.id)">
          {{ 'EditStudentButtonText' | translate:lang }}
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *cdkHeaderRowDef="['firstName', 'lastName', 'year', 'studyProgramme', 'actions']"></mat-header-row>

    <mat-row *cdkRowDef="let row; columns: ['firstName', 'lastName', 'year', 'studyProgramme', 'actions']"></mat-row>
  </mat-table>

  <mat-paginator [length]="pagination.length"
                [pageSize]="pagination.pageSize"
                [pageSizeOptions]="pagination.defaultPageSizeOptions()"
                (page)="onPageOptionsChange($event)">
  </mat-paginator>
</div>
