<h2>{{ 'EventListHeadingText' | translate:lang }}</h2>

<button
  *ngIf="admin"
  mat-raised-button
  color="primary"
  (click)="onOpenEventDialog(false)">
  {{ 'AddNewEventButtonText' | translate:lang }}
</button>

<br />
<br />

<div class="mat-elevation-z8">
  <mat-table #table [dataSource]="eventsDataSource">

    <ng-container cdkColumnDef="name">
      <mat-header-cell *cdkHeaderCellDef> {{ 'EventNameText' | translate:lang }} </mat-header-cell>
      <mat-cell *cdkCellDef="let row"> {{row.name}} </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="shortName">
      <mat-header-cell *cdkHeaderCellDef> {{ 'EventShortNameText' | translate:lang }} </mat-header-cell>
      <mat-cell *cdkCellDef="let row"> {{row.shortName}} </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="year">
      <mat-header-cell *cdkHeaderCellDef> {{ 'EventYearText' | translate:lang }} </mat-header-cell>
      <mat-cell *cdkCellDef="let row"> {{row.year}} </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="actions">
      <mat-header-cell *cdkHeaderCellDef></mat-header-cell>
      <mat-cell *cdkCellDef="let row">
        <button
          mat-button
          color="primary"
          [routerLink]="['/dashboard/events', row.id, 'participants']">
          {{ 'SeeParticipantsText' | translate:lang }}
        </button>

        <button
          *ngIf="admin"
          mat-raised-button
          color="accent"
          (click)="onOpenEventDialog(true, row.id)">
          {{ 'EditEventButtonText' | translate:lang }}
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *cdkHeaderRowDef="['name', 'shortName', 'year', 'actions']"></mat-header-row>

    <mat-row *cdkRowDef="let row; columns: ['name', 'shortName', 'year', 'actions']"></mat-row>
  </mat-table>

  <mat-paginator [length]="pagination.length"
                [pageSize]="pagination.pageSize"
                [pageSizeOptions]="pagination.defaultPageSizeOptions()"
                (page)="onPageOptionsChange($event)">
  </mat-paginator>
</div>
