<h2>{{ 'EventListHeadingText' | translate:lang }}</h2>

<button
  *ngIf="admin"
  md-raised-button
  color="primary">
  {{ 'AddNewEventButtonText' | translate:lang }}
</button>

<br />
<br />

<div class="mat-elevation-z8">
  <md-table #table [dataSource]="eventsDataSource">

    <ng-container cdkColumnDef="name">
      <md-header-cell *cdkHeaderCellDef> {{ 'EventNameText' | translate:lang }} </md-header-cell>
      <md-cell *cdkCellDef="let row"> {{row.name}} </md-cell>
    </ng-container>

    <ng-container cdkColumnDef="shortName">
      <md-header-cell *cdkHeaderCellDef> {{ 'EventShortNameText' | translate:lang }} </md-header-cell>
      <md-cell *cdkCellDef="let row"> {{row.shortName}} </md-cell>
    </ng-container>

    <ng-container cdkColumnDef="year">
      <md-header-cell *cdkHeaderCellDef> {{ 'EventYearText' | translate:lang }} </md-header-cell>
      <md-cell *cdkCellDef="let row"> {{row.year}} </md-cell>
    </ng-container>

    <ng-container cdkColumnDef="actions">
      <md-header-cell *cdkHeaderCellDef></md-header-cell>
      <md-cell *cdkCellDef="let row">
        <button
          md-button
          color="primary"
          [routerLink]="['/dashboard/events', row.id, 'participants']">
          {{ 'SeeParticipantsText' | translate:lang }}
        </button>

        <button
          *ngIf="admin"
          md-raised-button
          color="accent">
          {{ 'EditEventButtonText' | translate:lang }}
        </button>
      </md-cell>
    </ng-container>

    <md-header-row *cdkHeaderRowDef="['name', 'shortName', 'year', 'actions']"></md-header-row>

    <md-row *cdkRowDef="let row; columns: ['name', 'shortName', 'year', 'actions']"></md-row>
  </md-table>

  <md-paginator [length]="pagination.length"
                [pageSize]="pagination.pageSize"
                [pageSizeOptions]="pagination.defaultPageSizeOptions()"
                (page)="onPageOptionsChange($event)">
  </md-paginator>
</div>
