<h2
  *ngIf="data"
  mat-dialog-title>
  {{ data.title | translate:lang }}
</h2>

<mat-dialog-content>
  <form #form="ngForm" (submit)="onSubmitStudentData()">
    <mat-input-container style="width: 100%">
      <input
        name="firstName"
        type="text"
        [placeholder]="'StudentFirstNameText' | translate:lang"
        matInput
        required
        [(ngModel)]="student.firstName">
    </mat-input-container>

    <mat-input-container style="width: 100%">
      <input
        name="lastName"
        type="text"
        [placeholder]="'StudentLastNameText' | translate:lang"
        matInput
        required
        [(ngModel)]="student.lastName">
    </mat-input-container>

    <mat-input-container style="width: 100%">
      <input
        name="year"
        type="number"
        [placeholder]="'StudentYearText' | translate:lang"
        matInput
        required
        [(ngModel)]="student.year">
    </mat-input-container>

    <mat-input-container style="width: 100%">
      <mat-select
        name="studyProgramme"
        [placeholder]="'StudentStudyProgrammeText' | translate:lang"
        required
        [(ngModel)]="student.studyProgramme">

        <mat-option
          *ngFor="let studyProgramme of studyProgrammes"
          [value]="studyProgramme">
          {{ studyProgramme }}
        </mat-option>

      </mat-select>
    </mat-input-container>



    <button
      mat-raised-button
      type="submit"
      color="primary"
      [disabled]="!form.valid">
      Spremi
    </button>

    <button
      mat-button
      [mat-dialog-close]="false">
      Odustani
    </button>
  </form>
</mat-dialog-content>

