<h2>{{ eventId }}</h2>

<br />

<!--<mat-expansion-panel>-->
  <!--<mat-expansion-panel-header>-->
    <!--<mat-panel-title>-->
      <!--Personal data-->
    <!--</mat-panel-title>-->
    <!--<mat-panel-description>-->
      <!--Type your name and age-->
    <!--</mat-panel-description>-->
  <!--</mat-expansion-panel-header>-->

  <!--<mat-form-field>-->
    <!--<input matInput placeholder="First name">-->
  <!--</mat-form-field>-->

  <!--<mat-form-field>-->
    <!--<input matInput placeholder="Age">-->
  <!--</mat-form-field>-->
<!--</mat-expansion-panel>-->


<form #form="ngForm">
  <mat-form-field>
    <mat-select placeholder="Odaberi studenta">
      <mat-option *ngFor="let food of foods" [value]="food.value">
        {{ food.viewValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <input
    type="file"
    (change)="fileChange($event)"
    #fileInput
    placeholder="Upload file"
    accept=".pdf,.doc,.docx">

  <button
    mat-raised-button
    type="submit"
    color="primary"
    [disabled]="!form.valid">
    Dodaj
  </button>
</form>

<br/>

<div class="mat-elevation-z8">
  <mat-table #table [dataSource]="participantsDataSource">

    <ng-container cdkColumnDef="firstName">
      <mat-header-cell *cdkHeaderCellDef> {{ 'FirstNameText' | translate:lang }}</mat-header-cell>
      <mat-cell *cdkCellDef="let row"> {{row.firstName}}</mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="lastName">
      <mat-header-cell *cdkHeaderCellDef> {{ 'LastNameText' | translate:lang }}</mat-header-cell>
      <mat-cell *cdkCellDef="let row"> {{row.lastName}}</mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="studyProgramme">
      <mat-header-cell *cdkHeaderCellDef> {{ 'StudyProgrammeText' | translate:lang }}</mat-header-cell>
      <mat-cell *cdkCellDef="let row"> {{row.studyProgramme}}</mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="year">
      <mat-header-cell *cdkHeaderCellDef> {{ 'YearText' | translate:lang }}</mat-header-cell>
      <mat-cell *cdkCellDef="let row"> {{row.year}}</mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="cv">
      <mat-header-cell *cdkHeaderCellDef> {{ 'CVText' | translate:lang }}</mat-header-cell>
      <mat-cell *cdkCellDef="let row"><a [href]="row.cv" target="_blank">CV</a></mat-cell>
    </ng-container>

    <mat-header-row *cdkHeaderRowDef="['firstName', 'lastName', 'studyProgramme', 'year', 'cv']"></mat-header-row>
    <mat-row *cdkRowDef="let row; columns: ['firstName', 'lastName', 'studyProgramme', 'year', 'cv']"></mat-row>
  </mat-table>
</div>
