<mat-toolbar color="primary">
  <button
    mat-icon-button
    (click)="onToggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>EESTEC LC Zagreb</span>

  <!-- This fills the remaining space of the current row -->
  <span class="fill-remaining-space"></span>

  <mat-menu
    #localeMenu="matMenu">

    <button
      mat-menu-item
      (click)="setLocale('en')">
      {{ 'EnglishLanguage' | translate:lang }}
    </button>
    <button
      mat-menu-item
      (click)="setLocale('hr')">
      {{ 'CroatianLanguage' | translate:lang }}
    </button>
  </mat-menu>

  <button
    mat-icon-button
    [matMenuTriggerFor]="localeMenu">

    <mat-icon>language</mat-icon>
  </button>

</mat-toolbar>
