<md-toolbar color="primary">
  <button
    md-icon-button
    (click)="onToggle()">
    <md-icon>menu</md-icon>
  </button>
  <span>EESTEC LC Zagreb</span>

  <!-- This fills the remaining space of the current row -->
  <span class="fill-remaining-space"></span>

  <md-menu
    #localeMenu="mdMenu">

    <button
      md-menu-item
      (click)="setLocale('en')">
      {{ 'EnglishLanguage' | translate:lang }}
    </button>
    <button
      md-menu-item
      (click)="setLocale('hr')">
      {{ 'CroatianLanguage' | translate:lang }}
    </button>
  </md-menu>

  <button
    md-icon-button
    [mdMenuTriggerFor]="localeMenu">

    <md-icon>language</md-icon>
  </button>

</md-toolbar>
