<h2
  *ngIf="data"
  mat-dialog-title>
  {{ data.title | translate:lang }}
</h2>

<mat-dialog-content>
  <form #form="ngForm" (submit)="onSubmitEventData()">
    <mat-input-container style="width: 100%">
      <input
        name="name"
        type="text"
        [placeholder]="'EventNameText' | translate:lang"
        matInput
        required
        [(ngModel)]="event.name">
    </mat-input-container>

    <mat-input-container style="width: 100%">
      <input
        name="shortName"
        type="text"
        [placeholder]="'EventShortNameText' | translate:lang"
        matInput
        required
        [(ngModel)]="event.shortName">
    </mat-input-container>

    <mat-input-container style="width: 100%">
      <input
        name="year"
        type="text"
        [placeholder]="'EventYearText' | translate:lang"
        matInput
        required
        [(ngModel)]="event.year">
    </mat-input-container>

    <button
      mat-raised-button
      type="submit"
      color="primary"
      [disabled]="!form.valid">
      Spremi
    </button>

    <button
      mat-button
      [mat-dialog-close]="false">
      Odustani
    </button>
  </form>
</mat-dialog-content>

