<h2
  *ngIf="data"
  md-dialog-title>
  {{ data.title | translate:lang }}
</h2>

<md-dialog-content>
  <form #form="ngForm" (submit)="onChangePassword(form)">
    <md-input-container style="width: 100%">
      <input
        name="oldPassword"
        type="password"
        [placeholder]="'OldPasswordText' | translate:lang"
        mdInput
        required
        ngModel>
    </md-input-container>

    <md-input-container style="width: 100%">
      <input
        #newPassword
        name="newPassword"
        type="password"
        [placeholder]="'NewPasswordText' | translate:lang"
        mdInput
        required
        ngModel>
    </md-input-container>

    <md-input-container style="width: 100%">
      <input
        #confirmation
        name="confirmation"
        type="password"
        [placeholder]="'ConfirmPasswordText' | translate:lang"
        mdInput
        required
        ngModel>
    </md-input-container>

    <button
      md-raised-button
      type="submit"
      color="primary"
      [disabled]="!form.valid || (newPassword.value !== confirmation.value)">
      Spremi
    </button>

    <button
      md-button
      [md-dialog-close]="false">
      Odustani
    </button>
  </form>
</md-dialog-content>

