<h2
  *ngIf="data"
  mat-dialog-title>
  {{ data.title | translate:lang }}
</h2>

<mat-dialog-content>
  <form #form="ngForm" (submit)="onChangePassword(form)">
    <mat-input-container style="width: 100%">
      <input
        name="oldPassword"
        type="password"
        [placeholder]="'OldPasswordText' | translate:lang"
        matInput
        required
        ngModel>
    </mat-input-container>

    <mat-input-container style="width: 100%">
      <input
        #newPassword
        name="newPassword"
        type="password"
        [placeholder]="'NewPasswordText' | translate:lang"
        matInput
        required
        ngModel>
    </mat-input-container>

    <mat-input-container style="width: 100%">
      <input
        #confirmation
        name="confirmation"
        type="password"
        [placeholder]="'ConfirmPasswordText' | translate:lang"
        matInput
        required
        ngModel>
    </mat-input-container>

    <button
      mat-raised-button
      type="submit"
      color="primary"
      [disabled]="!form.valid || (newPassword.value !== confirmation.value)">
      Spremi
    </button>

    <button
      mat-button
      [mat-dialog-close]="false">
      Odustani
    </button>
  </form>
</mat-dialog-content>

