<h2
  *ngIf="data"
  mat-dialog-title>
  {{ data.title | translate:lang }}
</h2>

<mat-dialog-content>
  <form #form="ngForm" (submit)="onSubmitUserData()">
    <mat-input-container style="width: 100%">
      <input
        name="name"
        type="text"
        [placeholder]="'UserNameText' | translate:lang"
        matInput
        required
        [(ngModel)]="user.name">
    </mat-input-container>

    <mat-input-container style="width: 100%">
      <input
        name="username"
        type="text"
        [placeholder]="'UserUsernameText' | translate:lang"
        matInput
        required
        [(ngModel)]="user.username">
    </mat-input-container>

    <button
      mat-raised-button
      type="submit"
      color="primary"
      [disabled]="!form.valid">
      {{ 'SaveButtonText' | translate:lang }}
    </button>

    <button
      mat-button
      [mat-dialog-close]="false">
      {{ 'CancelButtonText' | translate:lang }}
    </button>
  </form>
</mat-dialog-content>

