<div class="container-fluid" style="background-color: whitesmoke; height: 93.5vh;">
  <section
    style="padding-top: 100px"
    class="mat-typography">

    <mat-card
      class="col-xs-12 col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4">

      <mat-toolbar>{{ 'LoginWelcome' | translate:lang }}</mat-toolbar>

      <form #loginForm="ngForm" (submit)="login(loginForm)">
        <br>
        <mat-input-container style="width: 100%">
          <input
            id="username"
            name="username"
            [placeholder]="'UsernamePlaceholder' | translate:lang"
            matInput
            required
            ngModel>
        </mat-input-container>

        <br>
        <br>

        <mat-input-container style="width: 100%">
          <input
            id="password"
            name="password"
            [placeholder]="'PasswordPlaceholder' | translate:lang"
            matInput
            type="password"
            required
            ngModel>
        </mat-input-container>

        <br>
        <br>

        <button
          mat-raised-button
          color="primary"
          name="action">
          {{ 'LoginButtonText' | translate:lang }}
        </button>
      </form>

    </mat-card>

  </section>
</div>

