<h2>{{ 'SubscriptionHeadingText' | translate:lang }}</h2>

<mat-card
  *ngFor="let subscription of subscriptions"
  style="width: 83vw;">
  <mat-card-header>
    <mat-card-title>{{ subscription.eventName }}</mat-card-title>
    <mat-card-subtitle>
      {{ subscription.subscriptionStart | date:'dd.MM.yyyy.' }} - {{ subscription.subscriptionEnd | date:'dd.MM.yyyy.' }}
    </mat-card-subtitle>
  </mat-card-header>

  <mat-divider></mat-divider>
  <br />

  <mat-card-content>
    <mat-chip-list>
      <mat-chip color="primary">
        <strong>{{ subscription.eventStatistics.numberOfParticipants }}</strong> &nbsp;
        {{ 'ParticipantsText' | translate:lang }}
      </mat-chip>

      <mat-chip color="accent">
        {{ 'MostStudentsStudyText' | translate:lang }} &nbsp;
        <strong>{{ subscription.eventStatistics.mostCommonStudyProgramme }}</strong>
      </mat-chip>

      <mat-chip>
        {{ 'MostStudentsAreText' | translate:lang }} &nbsp;
        <strong>{{ subscription.eventStatistics.mostCommonYear }}.</strong> {{ 'YearSmallText' | translate:lang }}
      </mat-chip>
    </mat-chip-list>
  </mat-card-content>

  <mat-card-actions>
    <button mat-button color="primary">{{ 'SeeParticipantsText' | translate:lang }}</button>
  </mat-card-actions>
</mat-card>

