<h2>{{ 'SubscriptionHeadingText' | translate:lang }}</h2>

<md-card style="width: 83vw;">
  <md-card-header>
    <md-card-title>EventName</md-card-title>
    <md-card-subtitle>21.06.2016 - 21.06.2017</md-card-subtitle>
  </md-card-header>

  <md-divider></md-divider>
  <br />

  <md-card-content>
    <md-chip-list>
      <md-chip>Papadum</md-chip>
      <md-chip>Naan</md-chip>
      <md-chip>Dal</md-chip>
    </md-chip-list>
    <!--<div class="row">-->
      <!--<div class="col-xs-3 col-md-3 col-lg-3">-->
        <!--<p>Participants</p>-->
      <!--</div>-->
      <!--<div class="col-xs-3 col-md-3 col-lg-3"></div>-->
      <!--<div class="col-xs-3 col-md-3 col-lg-3"></div>-->
      <!--<div class="col-xs-3 col-md-3 col-lg-3"></div>-->
    <!--</div>-->
  </md-card-content>

  <md-card-actions>
    <button md-button>LIKE</button>
    <button md-button>SHARE</button>
  </md-card-actions>
</md-card>
